/* Основной цвет текста #212121 */
/* Вторичный цвет текста #757575 */
/* Акцент #2196F3 */
/* Основной белый #FFFFFF */
/*Серый фоновый #2F303A */
/* Серый цвет #F5F4FA */
/* черный #000000 */


html {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Main.css */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --background-grey-color: #2F303A;
    --grey-color: #F5F4FA;
    --black-color: #000000;
    --border: #EEEEEE;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 1200px;
}

/* --------------------------- HEADER ---------------------------------- */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-logo {
    color: var(--black-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.header-logo span {
    color: var(--accent-color);
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-list .item:not(:last-child) {
    margin-right: 50px;
}

.header-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-list .link:hover,
.header-list .link:focus,
.header-list .link.current {
    color: var(--accent-color);
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts-item + .header-contacts-item {
    margin-left: 50px;
}

.header-icon {
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
    fill: currentColor;
}

.header-contacts .link {
    color: var(--secondary-text-color);
    /* text-decoration: none; */
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
    color: var(--accent-color);
}

.header-contacts .link:hover .header-icon,
.header-contacts .link:focus .header-icon{
    color: var(--accent-color);
    fill: var(--accent-color);
}

/* ------------------------ HERO --------------------- */

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--background-grey-color);
}
            

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.hero-button {
    border-radius: 4px;
    border-color: var(--accent-color);
    border: 1px solid transparent;
    padding: 10px 32px;
    min-width: 200px;

    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    cursor: pointer;
}

/* Section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* Feature */

.features.section {
    padding-top: 94px;
    padding-bottom: 47px;
}

.features-title {
    display: none;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
}


.feature-list .item {
    margin-right: 30px;
    width: 270px;
}

.features-icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--grey-color);
}

.feature-icon {
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-list .item:nth-last-child(-n + 1) {
    margin-right: 0px;
}

.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-description {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
}

/* Efforts */

.efforts-section {
    padding-top: 47px;
    padding-bottom: 94px;
}

.efforts {
    display: flex;
}

.efforts-element {
    margin-right: 30px;
}

.efforts-element:nth-last-child(-n + 1) {
    margin-right: 0px;
}

/* Our company */

.team-section {
    background-color: var(--grey-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.box {
    margin-right: 30px;
    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px
    rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
}

.box:nth-last-child(-n + 1) {
    margin-right: 0px;
}

.members-list {
    display: flex;
}

.team-members {
    padding-top: 30px;
    padding-bottom: 16px;
    text-align: center;
}

.members-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.members-position {
    color: var(--secondary-text-color);
    text-align: center;
}

.social-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    background-color: var(--primary-white-color);
    border-radius: 50%;
}

.social-icon {
    fill: #AFB1B8;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
}

/* -------------------------CUSTOMERS------------------------------ */

.customers-list{
    display: flex;
    justify-content: center;
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4%;
}

.customers-item:not(:last-child) {
    margin-right: 30px;
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--accent-color);
}

.customers-icon {
    fill: #AFB1B8;
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: var(--accent-color);
}

/* Portfolio.css */

/* ----------------------- OUR-PROJECTS ----------------------- */

.projects-buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.button {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--grey-color);
    
    border: 1px solid transparent;
    box-shadow: none;
    border-radius: 4px;

    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px
    rgba(0, 0, 0, 0.25);
}

.projects-title {
    display: none;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
    gap: 30px;
}

.projects-element {
    width: calc(100% -60px)/3;
    box-shadow: none;
}

.projects-element:hover,
.projects-element:focus {
    box-shadow: 0px 4px 4px
    rgba(0, 0, 0, 0.25);
}

.projects-item {
    padding: 20px 24px;
    border: 1px solid var(--border);
}

.projects .title {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .product {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.9;
}

/* ----------------------- FOOTER ------------------------ */

.footer-logo {
    color: var(--primary-white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.footer-logo span {
    color: var(--accent-color);
}

.footer {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-grey-color);
}

.footer .container {
    display: flex;
}

.footer-list {
    margin-top: 20px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-white-color)
}

.footer-list-item {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list-item:nth-child(3) {
    margin-bottom: 0;
}

.footer-list .link {
    margin-top: 9px;
    margin-right: 70px;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list .link:hover,
.footer-list .link:focus {
    color: var(--accent-color);
}

.footer-list span {
    color: var(--primary-white-color);
}
.footer-list span:hover,
.footer-list span:focus {
    color: var(--accent-color);
}

.connection {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
}

.connection-title {
    margin-bottom: 20px;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-transform: uppercase;
}

.connection-list {
    display: flex;
}

.connection-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.connection-link:hover,
.connection-link:focus {
    background-color: var(--accent-color);
}

.connection-icon {
    fill: var(--primary-white-color);
}
